#app {
text-align: center;
    background-color: blueviolet
}
.line {
    background-color: black;
    height: 4px;
    width: 60px;
    margin: auto;
}
#games {
    text-align: center;
    background-color: chartreuse;
    margin-top: 30px
}
#chatbots {
    text-align: center;
    background-color: yellow;
    margin-top: 30px
}